.list-product-update{
    background-color: rgba(235, 239, 242, 0.34);
    h1{
        font-family: "Lora", sans-serif;
        font-weight: normal;
        color: #454B52;
        text-align: center;
        margin-top: 40px;
        font-size: 32px;
        margin-bottom: 90px;
        width: 100%;
        display: inline-block;
    }
    img{
        width: auto;
    }
}
.subm-menu-content{
    
    .tab-pane{
        padding: 30px 0 15px 0;
        display: inline-block;
        width: 100%;
        border: 1px solid #E8E8E8;
        margin-top: -1px;
        &.show{
            display: block !important;
        }
    }
}
.list-product-page{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #E8E8E8;
    margin-top: 30px;
}
.content-product-page{
    display: inline-block;
    width: 100%;
}
.name-heart{
    display: inline-block;
    width: 100%;
    text-align: center;
    a{
        display: inline-block;
        width: 100%;
    }
}
.name-heart{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    a{
        &::before{
            display: none;
        }
    }
}
.infor-product-page{
    min-height: 110px;
}
.item-product-page{
    margin-bottom: 60px;
}
.infor-product-page{
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    label{
        display: inline-block;
        color: white;
        background: #5FBA4B;
        padding: 0 20px;
        margin-bottom: 0;
        text-align: center;
    }
    i{
        display: inline-block;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        color: #222;
        text-align: center;
    }
}
.infor-product-page{
    span, b{
        display: inline-block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
    }
    b{
        font-weight:normal;
        color: #222;
        font-size: 16px;
    }
    span{
        color: #454B52;
    }
    a{
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}
.content-product-page{
    display: inline-block;
    width: 100%;
    padding: 0 6px;
    margin-top: 30px;
    .favour{
        position: absolute;
        right: 15px;
        top: 15px;z-index: 99;
        cursor: pointer;
        &.active{
            svg{
                fill:white
            }
        }
    }
    .item-product-page{
        float: left;
        position: relative;
        width: 20%;
        padding: 0 10px;
        
        
        .name-heart{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            opacity: 0;
            display: none;
            background: rgba(132, 132, 132, 0.7);
            a{
                font-size: 14px !important;
                text-transform: uppercase;
                font-weight: bold;
                font-style: normal;
                padding: 0 !important;
                margin: 0 !important;
                font-family: "Montserrat", sans-serif;
                color: white;
            }
        }
        .avatar-product-page{
            display: inline-block;
            position: relative;
            width: 100%;
            a.a-avatar{
                position: relative;
                padding-top: 118%;
                margin: 0 !important;
                display: block;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    left: 0;
                    top: 0;
                }
            }
        }
       &:hover{
        .name-heart{
            opacity: 1;
            display: flex;
        }
       }
    }
}
.filter-listproductPage{
    display: flex;
    float: right;
    span{
        width: 58px;
        margin-top: 13px;
        text-align: right;
        color: #B6B8BC;
        margin-right: 10px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }
    .select-items{
        background: #E8E8E8;
    }
    .custom-select {
        position: relative;
        padding: 0;
        width: 120px;
        text-align: left;
        border: 0;
      }
      
      .custom-select select {
        display: none; /*hide original SELECT element:*/
      }
      .select-selected{
        border-bottom: 1px solid #E8E8E8 !important;
        padding-left: 0 !important;
      }
      /*style the arrow inside the select element:*/
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
      }
      
      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
      }
      
      /*style the items (options), including the selected item:*/
      .select-items div,.select-selected {
        padding: 12px 16px;
        border: 1px solid transparent;
        cursor: pointer;
        user-select: none;
        color: #888;
        font-size: 12px;
      }
      
      /*style items (options):*/
      .select-items {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        z-index: 999;
      }
      
      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }
      
      .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
}
.checkbox-subtab{
    padding: 0 100px;
    display: inline-block;
    width: 100%;
    .checkbox-subtab-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}
.close-submenu{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 100px;
    padding-bottom: 0;
    button{
        font-style: normal;
        font-size: 12px;
        display: inline-block;
        border: 0;
        background: white;
        outline: none;
        width: 100%;
        padding-top: 15px;
        border-top: 1px solid #E8E8E8;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        color: #222 !important;
        font-weight: 600;
    }
    img{
        width: 18px;
    }
}
.checkbox-subtab-item{
    width: 20%;
text-align: left;
float: left;
  margin: 0;

.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 100%;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .cbx:not(:last-child) {
    margin-right: 6px;
  }
  .cbx:hover {
    background: rgba(0,119,255,0.06);
  }
  .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    font-style: normal;
    text-transform: uppercase;
    font-size: 11px !important;
    font-family: "Montserrat", sans-serif;
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  .cbx:hover span:first-child {
    border-color: #FF8103;
  }
  .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  .inp-cbx:checked + .cbx span:first-child {
    background: #FF8103;
    border-color: #FF8103;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @-moz-keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }





}
.content-tab-productList{
    display: inline-block;
    width: 100%;
    .combobox-productList{
        display: inline-block;
        margin-top: 30px;
        position: relative;
        width: 100%;
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 12.5%;
                padding: 0 5px;
                text-align: left;
                float: left;
                .caption{
                    border: 1px solid #E8E8E8;
                    background-color: white !important;
                    text-align: left;
                    border-radius: 0 !important;
                }
                &:nth-child(1){
                    padding-left: 0 !important;
                }
                &:last-child(1){
                    padding-right: 0 !important;
                }
            }
        }
    }
    
    
    
}
.combobox-Item{
    display: inline-block;
    width: 100%;
    padding: 0px 5px!important;
    font-size: 11px;
    cursor: pointer;
    position: relative;
    
    a{display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
        padding: 10px 10px !important;
        border: 1px solid #E8E8E8;
        &.active{
            position: relative;
            &::after{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 2px;
                background: white;
                display: inline-block;
                content: '';
                z-index: 2;
            }
        }
        
    }
    b{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 13px;
        font-weight: normal;
        float: left;
        margin-right: 4px;
        margin-top: 1px;
    }
    a{
        padding: 0 ;
        display: inline-block;
        padding-right: 14px !important;
        width: 100%;
        font-size: initial !important;
        color: inherit !important;
        letter-spacing:normal !important;
        i{
            display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 13px;
        font-weight: normal;
        float: left;
        margin-right: 4px;
        margin-top: 6px;
        text-transform: none;
        font-size: 11px !important;
        letter-spacing: inherit !important;
        font-style: normal;
        }
    }
    img{
        position: absolute;
        right: 5px;
        top: 14px;
        width: 16px;
    }
    span{
        display: inline-block;
        width: 20px;
        height: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        margin-left: 0px;
        border-radius: 50%;
        background: #FF8103;
        color: white;
        font-size: 11px !important;
        font-style: normal;
        line-height: 21px;
    }
    &:nth-last-child(1){
        padding-right: 0 !important;
    }
}
.subm-menu-content{
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 1;
    background: white;
    .fade{
        display: none;
    }
}
.tab-product-list{
    margin-top: -56px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
    ul{
        display: flex;
        justify-content: center;
        border-bottom: 0;
        &.nav-tabs{
            li{
                a{
                    margin: 0;
                    padding: 15px 45px;
                    font-family: "Montserrat", sans-serif;
                    text-transform: uppercase;
                    font-size: 16px !important;
                    font-weight: 600;
                    background:none;
                    font-style: normal;
                    letter-spacing: 4px;
                    &.active{
                        background: white !important;
                    }
                    b{
                        font-weight: 700;
                        margin-right: 5px;
                        color: #FF8103;
                        display: inline-block;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1500px) {
    .content-tab-productList .combobox-productList ul li{
        width: 11% !important;       
    }
    .content-tab-productList .combobox-productList ul li:nth-last-child(1),.content-tab-productList .combobox-productList ul li:nth-last-child(2),
    .content-tab-productList .combobox-productList ul li:nth-last-child(3){
        width: 15% !important;       
    }
}


@media only screen and (max-width: 960px) {
    .content-product-page .item-product-page {
        width: 33.3%;
    }
    .checkbox-subtab {
        padding: 0 19px;
    }
    .scrolmobile{
        overflow-x: scroll;
        display: inline-block;
        width: 100%;
        ul{
            width: 1500px;
        }
    }
    .subm-menu-content {
        position: absolute;
        top: 46px;
    }
    .combobox-Item a.active::after {
        bottom: 0px;
    }
    .close-submenu{
        padding: 0 15px;
    }
}
@media only screen and (max-width: 767px) {
    .content-product-page .item-product-page {
        width: 50%;
    }
    .infor-product-page label {
        display: inline-block;
        color: white;
        background: #5FBA4B;
        padding: 0 5px;
        margin-bottom: 0;
        font-size: 11px;
        text-align: center;
    }
    .tab-product-list ul.nav-tabs li a {
        margin: 0;
        padding: 13px 9px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 11px !important;
        font-weight: 600;
        background: none;
        font-style: normal;
        letter-spacing: 0px;
    }
    .tab-product-list {
        margin-top: -42px;
    }
    .combobox-Item a i {
        margin-top: 1px;
    }
    .checkbox-subtab-item {
        width: 50%;
    }
    .content-tab-productList .combobox-productList {
        margin-top: 10px;
    }
    .list-product-update h1 {
        margin-top: 20px;
        font-size: 20px;
    }
    .list-product-update img {
        width: 11px;
    }
}